{% extends "base.html" %}
{% block title %}
View Album |
{% endblock %}

{% block content %}
<section id="album_view" class="section is-flex is-align-items-center">
    <div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center ">
        <figure class="image is-flex is-justify-content-center">
            <img src="{{ album_data['album_img'] }}" alt="Album cover">
        </figure>
    </div>
    <div>
        <h1 class="is-size-2">{{ album_data['album_name'] }}</h1>
        <h2 class="is-size-3">{{ album_data['artist_name'] }}</h2>
        <a href="/reviews/new/{{ album_data['album_id'] }}">Create Review</a>
    </div>
</section>
<section class="section columns">
    <div class="column is-half has-text-centered">
        <h1 class="is-size-4">Tracks</h1>
        <div>
            {% for track in album_data['album_tracks'] %}
                <p>{{ track }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="column is-half">
        <h1 class="is-size-4">Latest Reviews</h1>
        
    </div>
</section>
{% endblock %}