<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mystyles.css')}}">
    <script src="https://kit.fontawesome.com/a47804ee6e.js" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %} Note-d</title>
    {% endblock %}
</head>
<body>
    <nav class="navbar p-3 is-transparent" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item is-size-2" href="/">Note-d</a>
            <a role="button" class="navbar-burger mt-3" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarMenu" class="navbar-menu is-transparent">
            <div class="navbar-start">
                <a href="/dashboard" class="navbar-item">Home</a>
                <a href="/music/search" class="navbar-item">Music</a>
                <a href="/users/search" class="navbar-item">Users</a>
                <a href="/reviews/search" class="navbar-item">Reviews</a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if session['user_id'] %}
                            <a href="/users/view/{{ session['user_id'] }}" class="button">Profile</a>
                            <a href="/users/logout" class="button">Logout</a>
                        {% else %}
                            {% if session['page'] == 'login' %}
                                <a href="/register" class="button">Register</a>
                            {% else %}
                                <a href="/login" class="button">Login</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% block scripts %}
{% endblock %}
</html>