{% extends "base.html" %}
{% block title %}
Home |
{% endblock %}

{% block content %}
<section class="section is-medium">
    <h1 id="greeting" class="is-size-3">, {{ logged_user.username }}!</h1>
    <h2 class="is-size-5">New from other users</h2>
    <div class="container">
        <p>TODO: other users' reviews </p>
    </div>
    <h2 class="is-size-5">Your latest reviews</h2>
    <div class="container">
        <p>TODO: user's latest reviews</p>
        {% for review in logged_user_reviews %}
            <div class="card">
                <div class="card-image">
                    <figure class="image is-square">
                        <img src="{{ review['img_url'] }}" alt="">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title">TODO: User's first and last name</p>
                            <p class="subtitle">TODO: user's username</p>
                        </div>
                    </div>
                    <div class="content">
                        <p>{{ review['text'] }}</p>
                        <br>
                        <time>{{ review['updated_at'] }}</time>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='greeting.js') }}"></script>
{% endblock %}