{% extends "base.html" %}
{% block title %}
{% endblock %}

{% block content %}
<div class="section is-medium landing-page is-desktop">
    <div class="columns is-vcentered">
        <div class="column">
            <div class="is-flex is-justify-content-center">
                <img src="../static/img/green_sound_wave.png" alt="Green sound wave">
            </div>
        </div>
        <div class="column has-text-centered is-size-6-touch is-size-4-desktop">
            <p>Track what you've listened to.</p>
            <p>Save to check out later.</p>
            <p>Share with your friends.</p>
            <a href="/register" class="button mt-5">Join Note-d</a>
        </div>
    </div>
</div>
{% endblock %}