<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mystyles.css')}}">
    <!-- <link rel="stylesheet" href="/static/css/mystyles.css"> -->
    <title>{% block title %}{% endblock %} | Note-d</title>
    {% endblock %}
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar">
        <div class="navbar-menu" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a href="/dashboard" class="navbar-item is-size-1">Note-d</a>
            </div>
            <div class="navbar-start mt-2 ml-4">
                <a href="/dashboard" class="navbar-item">Home</a>
                <a href="/users/music/search_form" class="navbar-item">Music</a>
                <a href="/users/user_search" class="navbar-item">Users</a>
                <a href="/reviews/new" class="navbar-item">Review</a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <!-- TODO: Add route for Profile -->
                    <a href="#" class="navbar-item">Profile</a>
                </div>
                {% if session['user_id'] %}
                <div class="navbar-item">
                    <a href="/users/logout" class="navbar-item button is-danger">Logout</a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>