{% extends "main_layout.html" %}
{% block title %}Music Search{% endblock %}
{% block content %}
<!-- Music Search Form -->
<div class="section">
    <h1 class="has-text-centered is-size-3 mb-5">Search Music</h1>
    <form id="music_search_form" class="is-flex is-justify-content-center mb-5" onsubmit="submitMusicForm(event)">
        <div class="field">
            <div class="control">
                <input class="input" type="text" name="search_input" id="search_input" placeholder="Search by" autocomplete="off">
            </div>
        </div>
        <div class="field">
            <div class="select">
                <select name="search_category" id="music_search_category">
                    <option value="album">By Album</option>
                    <option value="track">By Track</option>
                    <option value="artist">By Artist</option>
                </select>
            </div>
        </div>
        <div class="control ml-4">
            <button class="button">Search</button>
        </div>
    </form>
    <div id="music_search_results" class="columns is-multiline is-mobile">
    </div>
</div>
{% endblock %}