{% extends "base.html" %}
{% block title %}
Create Review |
{% endblock %}

{% block content %}
<section id="review_form" class="section">
    <h1 class="is-size-2 has-text-centered">Create A Review</h1>
    <form action="/reviews/create" method="post">
        <input type="hidden" name="album_id" value="{{ album_data['album_id'] }}">
        <div class="columns">
            <div class="column is-two-thirds">
                <div class="field">
                    <label for="" class="label">Date</label>
                    <div class="control">
                        <input type="date" name="date" id="date">
                    </div>
                </div>
                <div class="field">
                    <label for="" class="label">Album</label>
                    <div class="control">
                        <input type="text" class="input" name="album_name" value="{{ album_data['album_name'] }}">
                    </div>
                </div>
                <div class="field">
                    <label for="" class="label">Artist</label>
                    <div class="control">
                        <input type="text" class="input" name="artist_name" value="{{ album_data['artist_name']}}">
                    </div>
                </div>
                <div class="field">
                    <label for="" class="label">Rating</label>
                    <div class="control">
                        <select name="rating" id="rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <input type="hidden" name="img_url" value="{{ album_data['img_url'] }}">
                <figure class="image is-128x128">
                    <img src="{{ album_data['img_url'] }}" alt="Album cover">
                </figure>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <textarea class="textarea" name="text" placeholder="Share you thoughts..."></textarea>
            </div>
        </div>
        
        <div class="field is-grouped is-grouped-right">
            <p class="control">
                <button class="button is-primary">Submit</button>
            </p>
            <p class="control">
                <a href="javascript:history.back()" class="button is-light">Cancel</a>
              </p>
        </div>
    </form>
</section>
{% endblock %}