{% extends "base.html" %}
{% block title %}
{{ users_data['username'] }}'s Profile |
{% endblock %}

{% block content %}
<section class="section">
    <div class="columns is-vcentered">
        <div class="column is-2 pl-6">
            <figure class="image user-profile ">
                <img src="{{ url_for('static', filename='img/avatar.png') }}" alt="Avatar photo">
            </figure>
            <!-- Conditionally render follow button -->
            {% if users_data['id'] != session['user_id'] %}
                {% if connected %}
                    <button id="follow_button" onclick="unfollowUser()">Unfollow</button>
                {% else %}
                    <button id="follow_button" onclick="followUser()">Follow</button>
                {% endif %}
            {% endif %}
        </div>
        <div class="column is-flex is-flex-direction-column is-justify-content-center">
            <p class="is-size-2">{{ users_data['username'] }}</p>
            <p>User Since {{ users_data['created_at'].strftime("%b %Y") }}</p>
            
        </div>
        <div class="column">
            <div class="columns has-text-centered">
                <div class="column ">
                    <p>{{ users_reviews|length }}</p>
                    <p>Albums</p>
                </div>
                <div class="column">
                    <p>{{ artist_count['num'] }}</p>
                    <p>Artists</p>
                </div>
                <div class="column">
                    <p>{{ reviews_this_year['num'] }}</p>
                    <p>2022</p>
                </div>
                <div class="column">
                    <p>{{ connections_data['following'] }}</p>
                    <p>Following</p>
                </div>
                <div class="column">
                    <p>{{ connections_data['followers'] }}</p>
                    <p>Followers</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div>
        <h2 class="is-size-5 m-4">Recent Activity</h2>
        <div class="columns is-multiline is-mobile px-6">
            {% for review in latest_reviews %}
                <div class="column is-one-fifth-desktop is-one-third-tablet is-one-half-mobile">
                    <div class="review-card">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image">
                                    <a href="/music/view/{{ review['album_id'] }}">
                                        <img src="{{ review['img_url'] }}" alt="Album cover">
                                    </a>
                                </figure>
                                <header class="card-header is-flex is-justify-content-center py-2">
                                    <a href="/music/view/{{ review['album_id'] }}">
                                        <p>{{ review['album_name'] }}</p>
                                    </a>
                                </header>
                            </div>
                        </div>
                        <div class="is-flex is-justify-content-space-between px-2">
                            <p class="is-size-7">
                                {% for x in range(review['rating']) %} 
                                    &#9733;
                                {% endfor %}
                            </p>
                            <p class="is-size-6">{{ review['updated_at'].strftime("%d %b %Y") }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <h2 class="is-size-5 m-4">Top Rated</h2>
        <div class="columns is-multiline is-mobile  px-6">
            {% for review in top_rated_reviews %}
                <div class="column is-one-fifth-desktop is-one-third-tablet is-one-half-mobile">
                    <div class="review-card">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image">
                                    <a href="/music/view/{{ review['album_id'] }}">
                                        <img src="{{ review['img_url'] }}" alt="Album cover">
                                    </a>
                                </figure>
                                <header class="card-header is-flex is-justify-content-center py-2">
                                    <a href="/music/view/{{ review['album_id'] }}">
                                        <p>{{ review['album_name'] }}</p>
                                    </a>
                                </header>
                            </div>
                        </div>
                        <div class="is-flex is-justify-content-space-between px-2">
                            <p class="is-size-7">
                                {% for x in range(review['rating']) %}
                                    &#9733;
                                {% endfor %}
                            </p>
                            <p class="is-size-6">{{ review['updated_at'].strftime("%d %b %Y") }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- <div class="container is-flex is-justify-content-space-around m-4 ">
            {% for review in top_rated_reviews %}
                <div class="review-card">
                    <div class="card ">
                        <div class="card-image">
                            <figure class="image is-200x200">
                                <img src="{{ review['img_url'] }}" alt="">
                            </figure>
                            <header class="card-header is-flex is-align-items-center is-justify-content-center py-2">
                                <h3>{{ review['album_name'] }}</h3>
                            </header>
                        </div>
                    </div>
                    <div class="is-flex is-justify-content-space-between is-align-items-center px-3 py-2">
                        <p class="is-size-7">
                            {% for x in range(review['rating']) %} 
                                &#9733;
                            {% endfor %}
                        </p>
                        <p class="is-size-7">{{ review['updated_at'].strftime("%d %b %Y") }}</p>
                    </div>
                </div>
            {% endfor %}
        </div> -->
    </div>
</section>
{% endblock %}