@charset "utf-8";

// Import font
// @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,300;0,400;0,500;1,500&display=swap'); // font 1
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap'); // font 2


// Overrode global variables
$green: #4d9f21;
$white: #F4F0F0;
$black: #15151b;
$grey: #2e2e3b;

// $text: $white;
$text: $white;
$link: $white;
$link-hover: $green;
$scheme-main: $black;
$family-sans-serif: "Mitr", sans-serif;
$family-primary: $family-sans-serif;
$navbar-item-hover-color: $green;
$button-color: $black;
$button-background-color: $green;
$button-hover-color: $white;
$button-border-color: $green;
$button-hover-border-color: $green;
$box-background-color: $grey;

// Login Form
$label-color: $white;
$input-color: $white;
$input-background-color: $black;
$input-border-color: $white;
$input-shadow: inset 0 1px 2px $white;

// $card-color: blue;
// $card-background-color: $grey;

// Import bulma
@import "../node_modules/bulma/sass/utilities/_all.sass"; 
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
// @import "../node_modules/bulma/sass/elements/box.sass";
// @import "../node_modules/bulma/sass/elements/button.sass";
// @import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";


// Custom CSS 
.border {
    border: 2px solid red;
}

.landing-page {
    padding: 0 0 0 7rem;
    img {
        max-width: 90%;
        height: 100%;
        height: auto;
    }
}

.login-form, .register-form {
    form {
        gap: .5rem;
        ::placeholder {
            color: $white;
        }
    }
}

#dashboard {
    img {
        max-width: 25%;
        height: auto;
    };
}
#album_view {
    img {
        max-width: 45%;
        height: auto;
    }
}

// #review_form {
//     form {
//         max-width: 1000px;
//     }
// }