{% extends "main_layout.html" %}
{% block title %}Edit Review{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<!-- Create Review Form -->
<section class="section is-medium">
    <div class="box">
        <h1 class="is-size-3 has-text-centered">Edit Review</h1>
        <p>TODO: Autofill data</p>
        <form action="">
            <div class="field is-horizontal">
                <div class="field-label is-normal"">
                    <label class="label" for="date">Date of Review</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="date" name="date" id="date">
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label for="album_name" class="label">Album Title</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="text" name="album_name" id="album_name" class="input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label for="rating" class="label">Rating</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <p>TODO: Rating system</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label for="review" class="label">Review</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <textarea class="textarea" name="review" id="review" placeholder="Share your thoughts...."></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label">
                    <!-- Left empty for spacing -->
                    </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                        <button class="button is-primary">Add Review</button>
                        </div>
                    </div>
                    </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}