{% extends "main_layout.html" %}
{% block title %}User Search{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <!-- User Search Form -->
    <div class="container mt-6">
        <h1 class="has-text-centered is-size-3 mb-3">Search Users</h1>
        <!-- TODO: Form data processing -->
        <form action="#" method="post">
            <div class="is-flex-direction-row is-justify-content-center field has-addons">
                <div class="control mb-4">
                  <input class="input" type="text" name="username" id="username" placeholder="Search by username...">
                </div>
                <div class="control mb-4">
                  <a class="button is-info">Search</a>
                </div>
              </div>
        </form>
    <!-- User Tiles -->
    <div class="mt-5">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title"><a href="#">Username</a></p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title"><a href="#">Username</a></p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title"><a href="#">Username</a></p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title"><a href="#">Username</a></p>
                </article>
            </div>
        </div>
    </div>
{% endblock %}