<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note-d | TODO: View User</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar mx-3">
        <div class="navbar-menu" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a href="/dashboard" class="navbar-item is-size-3">Note-d</a>
            </div>
            <div class="navbar-start mt-2 ml-4">
                <a href="/dashboard" class="navbar-item">Home</a>
                <a href="/users/music/search_form" class="navbar-item">Search Music</a>
                <a href="/users/user_search" class="navbar-item">Search Users</a>
                <!-- <a href="/reviews/new" class="navbar-item">Create Review</a> -->
            </div>
            <div class="navbar-end">
                <!-- <div class="navbar-item">
                    <a href="#" class="navbar-item">Profile</a>
                </div> -->
                <div class="navbar-item">
                    <a href="/users/logout" class="navbar-item button is-danger">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- User Profile -->
    <main class="section is-medium">
        <div class="box">
            <div class="columns is-flex-direction-row is-justify-content-space-around is-align-items-center">
                <div class="column is-4 is-vcentered has-background-light">
                    User avatar
                </div>
                <div class="column is-4 is-vcentered has-background-light">
                    <h3>Username</h3>
                    <p>User since TODO: created at</p>
                    <p>TODO: # of albums reviewed</p>
                </div>
            </div>
            <div class="columns is-flex is-justify-content-center">
                <div class="column is-10 has-background-light">
                    <h1 class="is-size-3">Reviews</h1>
                    <!-- TODO: Display reviews -->
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <div class="is-flex">
                                        <p class="mr-3"><strong>Album Name</strong></p>
                                        <p class="mr-3">Artist Name</p>
                                        <p>TODO: Rating</p>
                                    </div>
                                    <div>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia consequatur, pariatur ratione soluta sapiente, eaque maxime dolor molestias, delectus accusantium optio fugit eius quo debitis animi facere dolore exercitationem hic!</p>
                                    </div>
                                </div>
                                <nav class="level is-mobile">
                                    <div class="level-right is-flex is-justify-content-flex-end">
                                        <p class="level-item has-text-right">Reviewed on: TODO: Date created</p>
                                    </div>
                                </nav>
                            </div>
                        </article>
                    </div>
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <div class="is-flex">
                                        <p class="mr-3"><strong>Album Name</strong></p>
                                        <p class="mr-3">Artist Name</p>
                                        <p>TODO: Rating</p>
                                    </div>
                                    <div>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia consequatur, pariatur ratione soluta sapiente, eaque maxime dolor molestias, delectus accusantium optio fugit eius quo debitis animi facere dolore exercitationem hic!</p>
                                    </div>
                                </div>
                                <nav class="level is-mobile">
                                    <div class="level-right is-flex is-justify-content-flex-end">
                                        <p class="level-item has-text-right">Reviewed on: TODO: Date created</p>
                                    </div>
                                </nav>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>